<!-- <div class="body">
    <div class="title hvr-sink" routerLink="/home">Tyler Gabriel<sup>®</sup></div>
</div> -->

<!-- <mat-list class="text" >
    <div class="title hvr-sink font-effect-anaglyph" routerLink="/home" style="float: left">Tyler Gabriel<sup>®</sup></div>
    <mat-list-item routerLink="/home"><div class="plain hvr-backward" style="color: #EDFC99">personal</div></mat-list-item>
    <mat-list-item routerLink="/home"><div class="plain hvr-backward">portfolio</div></mat-list-item>
    <mat-list-item routerLink="/home"><div class="plain hvr-backward" style="color: #ffffff">site</div></mat-list-item>
    <mat-list-item routerLink="/home"><div class="plain hvr-backward">click</div></mat-list-item>
    <mat-list-item routerLink="/home"><div class="plain hvr-backward" style="color: #EDFC99">to</div></mat-list-item>
    <mat-list-item routerLink="/home"><div class="plain hvr-backward">enter</div></mat-list-item>
</mat-list>

<div class="block"></div> -->
<div routerLink="/home" class="logo">
    <h1 class="hvr-float">T</h1>
    <br>
    <h1 class="hvr-sink">G</h1>
</div>