mat-card-content{
  margin-top: 1vw;
}

mat-card{
  //margin: 2.5% auto 2.5% auto;
  //width: 100%;
  //background-color: beige;
}

mat-title{
  float:left;
}

mat-header{
  background-color: black;
}

mat-card-title{
  color: #71A9F7;
}