<mat-card>
    <mat-card-header>
        <mat-card-title>Title Example</mat-card-title>
        <mat-card-subtitle>December 20th, 2019</mat-card-subtitle>
        <!-- <img mat-card-image class="card-image" src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu"> -->
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis sollicitudin nibh, at bibendum mi. Aliquam ut sapien
        pretium, dictum nunc vel, euismod elit. Pellentesque eleifend mi ac dolor gravida, sit amet sollicitudin est faucibus.
        Suspendisse in porttitor dolor. Pellentesque feugiat neque nec ligula convallis, quis egestas quam blandit. Nunc tempor
        euismod ante, vel sollicitudin arcu fermentum vel. Morbi volutpat, mauris sed elementum faucibus, mi sapien pretium
        enim, at malesuada purus dui quis elit. Fusce sagittis, eros at molestie blandit, felis velit hendrerit nisi, ac maximus
        est ipsum ac dolor.
    </mat-card-content>
</mat-card>