h1{
    font-size: calc(10px+10vw);
    margin-bottom: 100px;
    color: #53D8FB;
}

img{
    border-radius: 5px;
    width: calc(30%);
}
.photo{
    text-align: center;
    display: block;
    box-shadow: -12px -12px 12px 0 rgba(58,58,57,.59),
      12px 12px 12px 0 rgba(0,0,0,.2);
    widows: 50%;
    border-radius: 15px;
    //margin-left: 75px;
    //margin-right: 75px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #343435;
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.025);
  transform: scale(1.025);
}