<h1>Contact Info</h1>


<div class="photo">
  <a href="https://github.com/tylrg">
  <img class="hvr-grow" src="../../assets/icons/github.svg" alt="Tyler Gabriel">
</a>
</div>
<br>
<br>
<br>
<div class="photo">
  <a href="https://www.linkedin.com/in/tyler-gabriel-753b2a14a/">
  <img class="hvr-grow" src="../../assets/icons/linkedin.svg" alt="Tyler Gabriel">
</a>
</div>
<br>
<br>
<br>
<div class="photo">
  <img class="hvr-grow" src="../../assets/icons/iconmonstr-email-2.svg" alt="Tyler Gabriel">
</div>