mat-list{
    font-family: 'Varela Round', sans-serif;
}
h1{
    font-family: 'Varela Round', sans-serif;
}
app-project-card{
    width: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

.mat-list-base {
    margin-top: 150px;
    margin-bottom: 200px;
}
.mat-list-item, 
.mat-list-base 
.mat-list-option{


}