<h1>Current Projects</h1>


<!-- <mat-list *ngFor="let project of projectList">
    <mat-list-item style="padding: 0px 0px;">
        <app-project-card [title]="project.title" [description]="project.description" [date]="project.date" [image]="project.image" [link]="project.link"></app-project-card>
    </mat-list-item>
</mat-list> -->



<a href="https://github.com/tylrg/Zoomer">
    <div class="photo">
        <h1>Zoomer</h1>
    </div>
</a>

<br><br><br>

<a href="https://github.com/tylrg/website3">
    <div class="photo">
        <h1>website3</h1>
    </div>
</a>

<br><br><br>

<a href="https://github.com/tylrg/projectmayo">
    <div class="photo">
        <h1>Project Mayo</h1>
    </div>
</a>

<br><br><br>

<a href="https://github.com/tylrg/Personal-Website-Bootstrap-">
    <div class="photo">
        <h1>Personal Website (Bootstrap)</h1>
    </div>
</a>

<br><br><br>

<a href="https://github.com/tylrg/MUN-Committee-Manager">
    <div class="photo">
        <h1>MUN Committee Manager</h1>
    </div>
</a>



