mat-list{
    font-family: 'Varela Round', sans-serif;
}
h1{
    font-family: 'Varela Round', sans-serif;
    font-size: calc(10px+10vw);
    margin-bottom: 100px;
}

img{
    border-radius: 5px;
    width: calc(30%);
}
.photo{
    text-align: center;
    display: block;
    box-shadow: -12px -12px 12px 0 rgba(255,255,255,.7),
      12px 12px 12px 0 rgba(0,0,0,.2);
    border-radius: 15px;
    margin-left: 75px;
    margin-right: 75px;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: #f2f2f2;
}

// app-project-card{
//     //width: 100%;
//     margin-top: 10%;
//     margin-bottom: 10%;
// }

// .mat-list-base {
//     //margin-top: 50vw;
//     //margin-bottom: 50vw;
//     //margin-top: 10%;
//     margin-bottom: calc(10vw + 50px);
//     margin-top: calc(10vw+50px);
// }



