h1{
    font-family: 'Varela Round', sans-serif;
    font-size: calc(10px+10vw);
    margin-bottom: 100px;
    color: #53D8FB;
}
h2{
    font-family: 'Varela Round', sans-serif;
    font-size: calc(10px+10vw);
    text-decoration: none;
}
a{
    text-decoration: none;
}
img{
    border-radius: 5px;
    width: calc(30%);
}
.photo{
    text-align: center;
    display: block;
    border-radius: 15px;
    margin-left: 75px;
    margin-right: 75px;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: #DFE3EB;
    color: #66C3FF;
}