<!-- <app-project-card></app-project-card>
<app-project-card></app-project-card>
<app-project-card></app-project-card>
<app-project-card></app-project-card> -->
<h1>Current Projects</h1>
<!-- <ul>
<li *ngFor="let project of projectList">
    <app-project-card [title]="project.title" [description]="project.description" [date]="project.date" [image]="project.image" [link]="project.link"></app-project-card>
</li>
</ul> -->

<mat-list *ngFor="let project of projectList">
    <br>
    <br>
    <mat-list-item >
        <app-project-card [title]="project.title" [description]="project.description" [date]="project.date" [image]="project.image" [link]="project.link"></app-project-card>
    </mat-list-item>
    <br>
    <br>
</mat-list>

