<h1>Current Projects</h1>

<a href="https://github.com/tylrg/Plant-Health-Advisor">
    <div class="photo">
        <h2>Plant Health Advisor</h2>
    </div>
</a>

<br><br><br>

<a href="https://github.com/tylrg/Portfolio-Site">
    <div class="photo">
        <h2>Portfolio Site</h2>
    </div>
</a>

<br><br><br>

<a href="https://github.com/tylrg/projectmayo">
    <div class="photo">
        <h2>Project Mayo</h2>
    </div>
</a>

<br><br><br>

<a href="https://github.com/tylrg/Personal-Website-Bootstrap-">
    <div class="photo">
        <h2>Personal Website (Bootstrap)</h2>
    </div>
</a>

<br><br><br>

<a href="https://github.com/tylrg/MUN-Committee-Manager">
    <div class="photo">
        <h2>MUN Committee Manager</h2>
    </div>
</a>



