<h1>About Me</h1>
<div class="photo">
    <!-- <mat-card id = "image-background"><img src="../../assets/logoBlack.svg" alt="Tyler Gabriel" style="width: 25%;"></mat-card> -->
    <img src="../../assets/toolphotoofmyself.jpeg" alt="Tyler Gabriel">
</div>
<mat-card>
    <mat-card-header></mat-card-header>
    <mat-card-content>
        Hi! My name is Tyler Gabriel and I am a computer science student. 
        I am currently a junior at Binghamton University studying at the Watson School of Engineering.
    </mat-card-content>
    <mat-card-footer>-Tyler Gabriel</mat-card-footer>
    <br>
    <br>
</mat-card>
