<h1>About Me</h1>
<div class="photo">
    <img class = "hvr-grow" src="../../assets/toolphotoofmyself.jpeg" alt="Tyler Gabriel">
</div>
<!-- <mat-card>
    <mat-card-header></mat-card-header>
    <mat-card-content>
        Hi! My name is Tyler Gabriel and I am a computer science student. 
        I am currently a junior at Binghamton University studying at the Watson School of Engineering.
    </mat-card-content>
    <mat-card-footer>-Tyler Gabriel</mat-card-footer>
    <br>
    <br>
</mat-card> -->
<mat-card>
    <h4>Syracuse, New York</h4>
    <h4>Junior, Binghamton University</h4>
    <h4>Interested in Machine Learning, Software Development, Cybersecurity, and UX Design</h4>
</mat-card>
