mat-list{
    font-family: 'Varela Round', sans-serif;
}
h1{
    font-family: 'Varela Round', sans-serif;
    font-size: calc(10px+10vw);
    margin-bottom: 100px;
}
mat-card{
    margin-top: 10%;
    margin-bottom: 10%;
}

.photo{
    text-align: center;
    display: block;
}

#image-background{
    background-color: rgba($color: #000000, $alpha: 0.0);;
}

img{
    border-radius: 5px;
    width: calc(100% - 45px);
}


mat-card-content{
    font-size: 25px;
    margin: 10px;;
}

.mat-card-footer{
    margin-left: 10px;
    margin-bottom:10px;
}