<h1>About Me</h1>
<div class="photo">
    <img class = "portrait" src="../../assets/portrait.jpeg" alt="Tyler Gabriel">
</div>
<mat-card>
    <h4>> Syracuse, New York</h4>
    <h4>> Junior, Binghamton University</h4>
    <h4>> Interested in Machine Learning, Software Development, and Cybersecurity</h4>
</mat-card>

<h1>Resume</h1>
<a href="../../assets/TylerGabriel.pdf" target="_blank">
    <div class="photo">
        <img src="../../assets/icons/assignment_ind-24px.svg" alt="Tyler Gabriel">
    </div>
</a>