.logo{
    padding-top: 5px;
    text-align: center;
}
h1{
  //font-style: italic;
  // font-size: 10vw;
  font-family: 'Bungee Shade', cursive;
  font-size: 1000%;
  cursor: default;
  //margin-top: -10vw;
  //margin-bottom: .5vw;
  background: linear-gradient(269deg, #434344,#434344, #66C3FF, #DFE3EB, #66C3FF, #434344,#434344);
  background-size: 1000% 1000%;
  -webkit-animation: AnimationName 10s ease infinite;
  -moz-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  @-webkit-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
  }
  @-moz-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
  }
  @keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
  }
}
.content{
    width:90%;
    margin: 0 auto;
}
mat-divider{
  padding-bottom: 5px;
}
mat-toolbar{
  background: #343435;
}
#tool-bar{
  background-color: #343435;
  width: 100%;
  justify-content: left;
  box-shadow: -12px -12px 12px 0 rgba(58,58,57,.59),
      12px 12px 12px 0 rgba(0,0,0,.2);
  color: #E3E0DD;
  border-radius: 10px;
}
button{
  margin-right: 1vw;
  font-size: 15px;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #DFE3EB;
}
button:hover{
  color: #53D8FB;
}
.footer{
  margin-top: 25vw;
  text-align: center;
}
h6{
  font-size: 20px;
}

//animations from hover
/* Forward */
.hvr-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(2px) translateZ(0);
  transform: perspective(2px) translateZ(0);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-forward:hover, .hvr-forward:focus, .hvr-forward:active {
  -webkit-transform: translateX(16px);
  transform: translateX(16px);
}
.hvr-backward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(2px) translateZ(0);
  transform: perspective(2px) translateZ(0);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-backward:hover, .hvr-backward:focus, .hvr-backward:active {
  -webkit-transform: translateX(-16px);
  transform: translateX(-16px);
}