<!-- <mat-toolbar class="toolbar">
  <div class="title" routerLink="/welcome">Tyler Gabriel</div>
  <span class="spacer"></span>
  <a style="color: #F40000">
    <i class="material-icons md-48 tb-icon">desktop_windows</i>
  </a>
  <a style="color: #F40000">
    <i class="material-icons md-48 tb-icon">person</i>
  </a>
  <a routerLink="/profiles" style="color: #F40000">
    <i class="material-icons md-48 tb-icon">work</i>
  </a>
  <a href = "mailto: tgabrie2@binghamton.edu" style="color: #F40000">
    <i class="material-icons md-48 tb-icon">email</i>
  </a>
  <a routerLink="/pdf" style="color: #F40000">
    <i class="material-icons md-48 tb-icon">attachment</i>
  </a>
</mat-toolbar> -->

<!-- 
<mat-card>hahaha</mat-card>
<mat-card>hahaha</mat-card> -->



<mat-card id="logo-card" routerLink="/welcome" style="text-align:center;background-color: rgba(0,0,0,0);border-color: rgba(0,0,0,0)">
<div class="logo">
  <div id="t-logo">T</div>T
</div>
<div class="logo">
  G<div id="g-logo">G</div>
</div>
</mat-card>