.logo{
    padding-top: 150px;
    text-align: center;
}
h1{
  font-family: 'Varela Round', sans-serif;
  // font-size: 10vw;
  font-size: 1000%;
  cursor: default;
  margin-top: -10vw;
  background: linear-gradient(269deg, #274156, #271456, #f6d8ae, #271456, #274156);
  background-size: 1000% 1000%;
  -webkit-animation: AnimationName 13s ease infinite;
  -moz-animation: AnimationName 13s ease infinite;
  animation: AnimationName 13s ease infinite;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  @-webkit-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
  }
  @-moz-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
  }
  @keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
  }
}
.content{
    width:90%;
    margin: 0 auto;
}

mat-divider{
  padding-bottom: 5px;
}

#tool-bar{
  background-color: rgba(0, 0, 0, 0.01);
  padding-left: 40%
}


//animations from hover
/* Forward */
.hvr-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(2px) translateZ(0);
  transform: perspective(2px) translateZ(0);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-forward:hover, .hvr-forward:focus, .hvr-forward:active {
  -webkit-transform: translateX(16px);
  transform: translateX(16px);
}
.hvr-backward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(2px) translateZ(0);
  transform: perspective(2px) translateZ(0);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-backward:hover, .hvr-backward:focus, .hvr-backward:active {
  -webkit-transform: translateX(-16px);
  transform: translateX(-16px);
}