<div class="logo">
  <h1 class="hvr-backward">T</h1>
  <h1 class="hvr-forward">G</h1>
</div>

<div class="content">
  <mat-toolbar>
    <mat-toolbar-row id="tool-bar">
      <button mat-button routerLink="about">About</button>
      <button mat-button id="project-button" routerLink="projects">Projects</button>
      <button mat-button style="float: right" routerLink="contact">Contact</button>
    </mat-toolbar-row>
  </mat-toolbar>
  <br>
  <mat-divider></mat-divider>
  <router-outlet></router-outlet>
</div>

<div class="footer">
  <h6>Tyler Gabriel 2019©</h6>
</div>

